*{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
   margin: 10px 25px 20px;
}
.first-block{
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    margin: 20px;
}
.title{
    color: white;
    text-align: center;
    padding: 50px 60px 40px;
    
}
.second-block{
    margin: 20px 100px 100px 100px;
    text-align: center;
}
.second-block-header{
    color: red;
}
.third-block{
    display: flex;
    justify-content: space-around;
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.third-block-text{
    color: white;
    text-align: left;
    padding-left: 50px;
}
.third-block-first{
    padding-top: 65px;
}
.join-btn{
    color: white;
    background-color: transparent;
    border: none;
    font-size: larger;
}
.fourth-block{
    text-align: center;
    margin-top: 50px;
    background-color: linen;
}
.fourth-block-title{
    text-align: center;
    padding-top: 50px;
}
.fourth-block-indentification{
    color: #ff0000;
}
.fourth-block-btn{
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 22px;
}
.fourth-btn{
    padding-bottom: 50px;
    padding-top: 30px;
}
.fifth-block{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.fifth-title{
    color: #070211;
}
.fifth-first{
    padding-right: 30px;
}
.fifth-third{
    padding-left: 30px;
}
.sixth-block{
    margin-top: 50px;
    text-align: center;
}
.sixth-block-title{
    color: #070211;
}
.sixth-block-paragraph{
   color: gray; 
}
.seventh-block{
    margin-top: 200px;
}
.seventh-block-paragraph{
    padding-right: 200px;
}
.seventh-block-main{
    display: block;
}
.seventh-block-img:hover {
    background-color: violet;
}
.last-block{
   background-color: cornsilk;
   text-align: center;
   padding: 50px;
}
#email-btn{
    border-radius: 5px;
    border: none;
}
.sub-btn{
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
}